*.o
*.a
*.so
*.mp4
ConsAnimation
ConsImage
ReadImage
WriteMovingCheckerImage
WriteRGBAdditiveCircle24bImage
WriteRGBAdditiveCircle8bImage
WriteWhiteNoiseImage
stock
Olivec_essai
4P24B_old
PPMformat
BMPformat
